{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
    <div class="row">
    <div class="col-md-6" id="detail_left">
    <img src =' {{ instance.image.url }}' style="margin-top: 60px; width:500px;height: 700px" >
    </div>
    <div class="col-lg-6" style="margin-top: 60px" id="detail_right">
    <h1 style="font-family: 'Dancing Script', cursive"> Title: {{ instance.title }}</h1>
    <h3 style="font-family: 'Concert One', cursive;">Artist: {{ instance.artist }}</h3>
    <br>
    <br>
    {% if instance.song_set.all %}
            {% for obj in instance.song_set.all %}
            <div class="row">
            <div class="col-md-4">
            <h6> {{ obj.title }}.{{ obj.artist }}</h6>
            </div>
            <div class="col-md-4">
            <audio src="{{ obj.song.url }}"  controls="controls" style="display: inline" preload="none"></audio>
            </div>
            <div class="col-md-3">
            <a  class="btn btn-default" href="{% url 'music:song_delete' obj.id %}" style="margin-left: 90px">delete</a>
            </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <a href="{% url 'music:song_create' instance.id%}" type="button" class="btn btn-default" id="addsong" style="margin-left: 30px">Add</a>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    </div>
    {% for comment in main_comments %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
             <h3>{{ comment.content }}</h3>
                <P>{{ comment.user }}</P>
                <p>{{ comment.time }}</p>
                {% for child in comment.children %}
                    <hr>
                    {{ child.content }}<br>
                {% endfor %}
                <a href="#" class="reply">reply</a>
                <div class="reply-btn" style="display: none">

                <form method="post" action="." name="main">{% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="hidden" name="com_id" value="{{ comment.id }}">
                    <input type="submit" value="replay" class="btn btn-success">
                </form>
                <hr>
            </div>
        </div>
    {% endfor %}
        </div>
    {% if request.user.is_authenticated %}
    <form method="post" action="." name="main">{% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="public" class="btn btn-success">
    </form>
    {% endif %}
    </div>

{% endblock %}